<!DOCTYPE html>
<html lang="en">
<style>
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);
</style>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<ul class="nav navbar-nav navbar-right">
    <li><a href="/"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
</ul>
<div class="jumbotron text-center">

    <div>
        <h1>Administrator</h1>
        <p style="color:#888;"></p>
    </div>
    <div class="form-group">
        {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ message[0] }}">
            {{ message[1] }}
        </div>
        {% endfor %}
      </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Here We go !</h2>
        </div>
    </div>
    <div>
        <div class="col-md-12 text-center"> <a href="/results" class="btn btn-sm animated-button victoria-one">
                Read Results</a> </div>
        <div class="col-md-12 text-center"> <a href="/addVoter" class="btn btn-sm animated-button victoria-two">
                Add Voter</a> </div>
        <div class="col-md-12 text-center"> <a href="/clear" class="btn btn-sm animated-button victoria-one">
                Clear Result</a> </div>
        <div class="col-md-12 text-center"> <a href="/reset" class="btn btn-sm animated-button victoria-two">
                Reset Database</a> </div>
    </div>
</body>
</html>